:root {
    --offcanvas-width: 270px;
    --topNavBarHeight: 56px;
}

.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-google:hover, .btn-google:focus {
    background-color: #d03b2e;
    color: white;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

.btn-facebook:hover, .btn-facebook:focus {
    color: white;
    background-color: #30497e;
}


.sidebar-nav {
    width: var(--offcanvas-width) !important;
}

.sidebar-link {
    display: flex;
    align-items: center;
}

.sidebar-link .right-icon {
    display: inline-flex;
    transition: all ease 0.25s  ;
}

.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

@media (min-width: 992px) {

    body {
        overflow: auto;
    }

    .offcanvas-backdrop {
        display: none !important;
    }

    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavBarHeight) !important;
        height: calc(100% - var(--topNavBarHeight));
    }

    main {
        margin-left: var(--offcanvas-width);
    }
}